.RecommendsGallery {
    background: grey;
    min-height: calc(100vh - 70px);
}

.recommendsElement {
    position: relative;
    width: 280px;
    height: 200px;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
}

.recommendsElement img {
    border-radius: 10px;
}
.recommendsWord {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .2);
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, .2);
    height: 40%;
    display: flex;
    align-items: center;
    font-size: 26px;
    color: white;
    border-radius: 10px;
}

.recommendsWord p {
    margin-left: 20px;
    text-transform: capitalize;
}