.Navbar {
    background: none;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.NavVisible {
    background: rgb(35, 42, 52);
}

.logo {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    transition: .05s linear;
}

.logo:hover {
    cursor: pointer;
    color: rgb(123, 125, 126);
}

.logo svg {
    border-radius: 5px;
}

.logo p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.search {
    width: 48vw;
    height: 60%;
    margin-left: 30px;
    position: relative;
    visibility: hidden;
}

.searchVisiable {
    visibility: visible;
}

.search input {
    width: 100%;
    height: 100%;
}

.logoContainer {
    text-decoration: none;
}

.navs {
    color: white;
    font-size: 18px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    height: 60%;
    width: auto;
    padding-left: 10px;
    margin: 0 10px;
}

.navsElement {
    transition: .05s linear;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.more {
    font-size: 32px;
    margin-right: 25px;
    transform: rotate(90deg);
    transition: .05s linear;
}

.tooltip div {
    margin: 5px -8px 5px -8px;
    padding: 10px;
}

.tooltip div:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
}

.btn {
    background: #05a081;
    border-radius: 4px;
    padding: 7px;
    width: 180px;
    /*max-width: 10vw;*/
    min-width: 12vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease;
}

.navsElement:hover {
    cursor: pointer;
    color: rgb(123, 125, 126);
}

.more:hover {
    cursor: pointer;
    color: rgb(123, 125, 126);
}

.btn:hover {
    cursor: pointer;
    opacity: .85;
    transform: translateY(1px);
}

.hamburgerMenu {
    display: none;
}

.menuBody {
    position: fixed;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    background: rgb(35, 42, 52);
}

.menuElement {
    position: relative;
    font-size: 24px;
    color: rgb(192, 195, 196);
    margin: 10px 10px 10px 15px;
    transition: color .1s ease;
}

.menuElement:hover {
    cursor: pointer;
    color: white;
}

.menuElement:hover .navPop {
    left: -40px;
}

.navPop {
    background: white;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -60px;
    top: 0;
    border-radius: 10px;
    transition: left .1s ease;
}

.navBlock {
    padding: 20px 0;
    border-bottom: 1px #7b7d7e solid;
}

@media screen and (max-width: 1260px) {
    .logo p {
        display: none;
    }

    .navsElement {
        display: none;
    }

    .search {
        width: 70vw;
    }
}

@media screen and (max-width: 850px) {
    .more {
        display: none;
    }

    .btn {
        display: none;
    }

    .search {
        width: 90vw;
    }

    .hamburgerMenu {
        display: block;
        margin-right: 10px;
    }
}

